<tr class="nested-fields">
  <td>
    <%= f.hidden_field :_destroy %>
    <%= f.text_field :name %>
  </td>
  <td>
    <%= f.text_field :price %>
  </td>
  <td>
    <%= f.text_field :url %>
  </td>
  <td>
    <a href="#" data-action="gift#removeGift">Remove</a>
  </td>
</tr>
